# Copier ce fichier en .env et remplir les valeurs
# cp .env.example .env

# Tenant Azure AD
TENANT=conseilescgs.onmicrosoft.com
# Client ID de l'app registration plateforme
CLIENT_ID=33728ba9-caed-4b60-93d0-3a389205ff40
# Client Secret de l'app registration plateforme
CLIENT_SECRET=XXXXXXXXXXXXXXXXXXXXX
# Scope de l'app Mulesoft
SCOPE=3cb4230f-de73-4515-89a8-2da85bf1cd07/.default
# Client ID fourni par l'equipe iPaaS pour le rate limiting
CLIENT_ID_RATE_LIMITING=f3fc8fce9ed84ae2bc19d6ae1498ae95
# Client Secret fourni par l'equipe iPaaS pour le rate limiting
CLIENT_SECRET_RATE_LIMITING=XXXXXXXXXXXXXXXXXXXXX
# URL de base des API Mulesoft
BASE_URL=https://apim.pprod.ext.net.conseilescgs.com/its-val-exp-platform-rydge-v1/api/v1
